body{
	background: url(../img/b2.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	margin: 0; 
	padding: 0;
    text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    font-smoothing: antialiased !important;
}


/* Site Controls */
#site-controls{ 
    height: 0;
	width: 100%;
	position: fixed;
	bottom: 0px;
	z-index: 50;
    overflow: visible;
}
	#site-controls i{ 
        position: absolute;
        top: -70px;
		color: rgba(200, 200, 200, 0.7); 
		cursor: pointer;
		z-index: 15; 
	}
	
	#site-controls > #home-controls{ width: 100%; text-align: center; }
	#site-controls > #other-controls{ width: 100%; }
		#site-controls > #other-controls > i:first-child{ left: 0; }
		#site-controls > #other-controls > i:nth-child(2){ right: 0; }
/* End Site Controls */


/* Main Classes */
.hidden{ display: none !important; }

.bold{ font-weight: bold; font-size: 1.4em; }

.center{ text-align: center; }

.profile-section {
    width: 100%;
    padding: 45px 0px;
    margin: 100px 0px;
    background-color: rgba(15, 15, 15, 0.15);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.profile-section.active{
    background-color: rgba(15, 15, 15, 0.55);
}
#home.profile-section{ background: none !important; }
	
	.profile-section > h2{ 
        display: none;
		position: relative;
		font-size: 3.5em;
		color: #eee;
		margin: 0 20px 10px;
		text-shadow: 0px 0px 1px #000;
	}
	
	.profile-section > .profile-content{ /*profile section content pane*/
		width: 100%;
        max-width: 1280px;
        height: 100%;
        overflow-y: auto;
        margin: auto;
        padding: 25px 30px;
        background-color: rgba(245, 245, 245, 0.86);
        font-size: 1.5em;
	}
	
.fixed-menu{
	position: fixed !important;
	top: 0 !important;
}

.flex-cont{
    display: flex;
}
.flex-cont.wrap{
    flex-wrap: wrap;
}
.flex-cont.cols{
    flex-direction: column;
}
.flex-cont.just-cent{
    justify-content: center;
}
/* End Main Classes */	
	
	
/* Header */
#header-logo{
	height: 80px;
	margin: 15px 25px;
}
#header-logo h1{
    font-size: 42px; /* When wondering what to make the size of my name in the header I landed on the answer to life, the universe, and everything! HHGTG FTW */
}

#menu-container{ /*a safety net for the changing nav bar*/
	height: 80px;
	margin: 0;
	padding: 0;
}

button.navbar-toggle{ 
	background: none;
	color: #222;
}

.container > .navbar-collapse{
	margin: 0 !important;
	border: none !important;
	box-shadow: none !important;
}

.navbar-inverse{
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.container.open > .navbar.navbar-inverse{ 
	background: none !important;
	border: none !important;
}
    .container > .navbar.navbar-inverse .navbar-nav a{
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    .container > .navbar.navbar-inverse .navbar-nav a:before{
        content: '';
        position: absolute;
        top: 100%;
        left: calc(50% - 5.5px);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 11px 0 11px;
        border-color: #efefef transparent transparent transparent;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }

    .navbar-inverse .navbar-nav > .active > a, 
    .navbar-inverse .navbar-nav > .active > a:hover, 
    .navbar-inverse .navbar-nav > .active > a:focus{
        background-color: #efefef; 
        color: #080808 !important;
    }
    .navbar-inverse .navbar-nav > .active > a:before, 
    .navbar-inverse .navbar-nav > .active > a:hover:before, 
    .navbar-inverse .navbar-nav > .active > a:focus:before{
        border-width: 12px 11px 0 11px !important;
    }
    .container > .navbar.navbar-inverse .navbar-nav a#home-button:before{
        display: none;
    }


	.container.open > .navbar.navbar-inverse .active > a{ border: solid 1px #666; background: none !important; }
	.container.open > .navbar.navbar-inverse a{ 
        color: #222 !important; 
    }
	.container.open > .navbar.navbar-inverse a:hover, 
	.container.open > .navbar.navbar-inverse a:focus{ color: #000 !important; border-bottom: solid 1px; }

	.container.open .navbar-toggle .icon-bar{ 
        background-color: rgba(53, 53, 53, 1); 
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
	.container.open .navbar-toggle:hover .icon-bar,
	.container.open .navbar-toggle:active .icon-bar,
	.container.open .navbar-toggle:focus .icon-bar{ background-color: rgba(220, 220, 220, 1); }

.nav.navbar-nav{ float: right !important; }
/* End Header */


/* Home */
#home{
	width: 100%;
	height: 700px;
	margin: 0px 0px 100px 0px;
	text-align: center;
}
	#home a{
		font-size: 1em;
		color: #666;
		text-shadow: 0px 0px 0px #222;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
	}
	
	#home a:hover{ color: #CCC; }
		#home a > i{ margin-top: 615px;	}
/* End Home */


/* Website Section */
.cboxIframe{ 
	width: 100%;
	height: 90%;
	border-radius: 5px;
	border: medium solid;
	padding: 5px;
	margin-top: 63px;
}
#cboxClose{
	position: relative;
	height: 50px;
	width: 100%;
	border: medium none;
	background-color: #202020;
	color: #D39633;
	font-size: 1.3em;
	margin-top: -15px;
}
/* End Website Section */


/* Contact Section */
#contact-button-container{
	height: 99%;
	overflow-y: auto;
	text-align: center;
	background: none;
}

.contact-button {
    width: 70%;
    height: 48.5%;
    position: relative;
    margin: 35px 3px;
	padding-bottom: 5px;
    background-color: rgba(82,86,89,0.7);
    color: #D39633;
}
	.contact-button i{ /*center the icons*/
		margin: 12% auto;
		display: block;
	}
	
div.stretchy-wrapper {
	position: relative;
	width: 30%;
	min-width: 200px;
	display: inline-block;
}
	/*I did this just for the practice of the technique*/
.contact-button:after {
    position: relative;
    top: -19px;
}
.contact-button#ln:after{ content: "LinkedIn"; }
.contact-button#tw:after{ content: "Twitter"; }
.contact-button#ig:after{ content: "Instagram"; }
.contact-button#jf:after{ content: "JS Fiddle"; }
.contact-button#gh:after{ content: "GitHub"; }
.contact-button#em:after{ content: "Email"; }
/* End Contact Section */


/* Resume Stylings */
#resume-holder{
    height: 768px;
	width: 100%;
	margin: auto;
	background: rgba(217,216,200,0.80);
	font-size: 16px;
	overflow: hidden;
}
/* End Resume Stylings */


/* Footer */
#footer{
	width: 100%;
	padding: 10px;
	background-color: rgba(15, 15, 15, 0.93);	
	color: rgba(211,150,51,1.00);
	font-size: 1.3em;
	text-align: center;
}
#footer p{
    margin: 0;
}
/* End Footer */


/* OVERRIDES */
.navbar-wrapper .container{
	width: 100%;
	padding: 0; 
	margin: auto;
	z-index: 20;
}

.navbar-brand{	margin-left: 0px !important; }

.container > .navbar-header{ margin: 0px !important; }

.navbar{ border-radius: 0px !important; }	

.ui-tabs .ui-tabs-panel {
  	height: 583px !important;
	overflow-y: auto;
	border: 1px solid #CCC !important;
}

	/* Carousel Styles */
#code > ul{
    max-width: 1280px;
    margin: 0 auto;
}
#code > ul > li {
    width: 25%;
    height: 480px;
    overflow: hidden;
    padding: 0 20px;
}
#code > ul > li > a {
    position: relative;
    display: block;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.carousel-inner{
    max-width: 1280px;
    margin: 0 auto;
}
.carousel-inner .item{
    overflow: hidden;
}
.carousel-indicators{ 
	bottom: 0px !important;
	z-index: 0 !important;
}

#code .card-caption {
    background: rgba(20, 20, 20, 0.2);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 15px;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
#code a:hover .card-caption,
#code a:focus .card-caption{
    background: rgba(20, 20, 20, 0.55);
}
    .card-caption h3,
    .card-caption p{
        opacity: 0;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    a:hover .card-caption h3,
    a:hover .card-caption p,
    a:focus .card-caption h3,
    a:focus .card-caption p{
        opacity: 1;
    }

	.card-caption h3{ 
        font-size: 1.9em; 
        margin: 0px; 
        color: #FFF;
    }
	.card-caption p{ 
        font-size: 1.5em; 
        margin: 0px;
        color: #FFF;
    }

.carousel-control > span.glyphicon{ 
	border-radius: 100px;
	height: 50px;
	width: 50px;
	vertical-align: middle;
	padding-top: 8px; 
}
.carousel-control .glyphicon-chevron-right { right: 17% !important; }
.carousel-control .glyphicon-chevron-left{ left: 17%; !important; }
	/*End Code Carousel Styles */
/* End Overrides */
