/*------------------------------------------
  Responsive Grid Media Queries - 1280, 768, 640, 480, 320
   XXX-1024   - Desktop/Tablet Landscape (default grid)
   1023-768 - Tablet Portrait 
   767-640 - Larger Phones/Smaller Tablets
   639-480 - Phone Landscape
   439-320 - Phone Portrait
--------------------------------------------*/

@media all and (max-width: 1023px) { /* 768 */
    #home{ 
        height: 5px;
        margin: 0;
        padding: 0;
    }
    #about{
        margin-top: 50px;
    }
    #header-logo{
        height: 70px;
    }
    
    .profile-section{
        padding: 15px 20px 20px;
        background-color: rgba(15, 15, 15, 0.55);
    }
    #code.profile-section{
        padding-left: 0;
        padding-right: 0;
    }
    .profile-section > h2{ 
        display: block;
    }
    
    #site-controls i { font-size: 3.8em; }
	.contact-button i{font-size: 4.1em}
    #code > ul > li{
        width: 100%;
        height: 200px;
    }
    #code > ul > li > a{
        text-align: center;
    }
    #code .card-caption{
        background: rgba(20, 20, 20, 0.55);
    }
    .card-caption h3,
    .card-caption p{
        opacity: 1;
    }
    
    .contact-button:after {
        display: none;
    }
}
@media all and (max-width: 767px) { /* 640 */
    #header-logo{
        height: 50px;
        margin-bottom: 0;
    }
    #about{
        margin-top: 25px;
    }
    
    #menu-container{
        position: relative;
        z-index: 10;
    }
    #menu-container .navbar-collapse ul.navbar-nav{
        background: rgba(230, 230, 230, 0.93);
    }
    .fixed-menu .nav.navbar-nav {
		background: rgba(43, 43, 43, 0.9);
		margin-top: 0px;
	}
}
@media all and (max-width: 639px) { /* 480 */
    #site-controls i { font-size: 2.8em; }
	.contact-button i {font-size: 3.1em}
	
	#resume-holder h1, #resume-holder h2 { font-size: 1.6em; }
	#resume-holder p, 
	#resume-holder li,
	#resume-holder h3 { font-size: 1.3em; }
	
	.profile-section > .profile-content { font-size: 1.3em; }
	
	.carousel-inner .item a > img{ height: 75% !important; }
	.carousel-caption { bottom: 58px; }
}
@media all and (max-width: 479px) { /* 320 */
    .contact-button{
        margin: 8px 3px;
    }
}